LANGSMITH_API_KEY=''
LANGSMITH_TRACING=true
LANGSMITH_PROJECT="weave-cv"   # optional; defaults to "default"
LANGSMITH_ENDPOINT="https://api.smith.langchain.com"  # US; use eu. variant for EU

OPENAI_API_KEY=''